.slide {
    position: absolute;
    background: white;
    top: 20px;
    bottom: 20px;
    left: 40px;
    right: 40px;
}

.slide h1 {
    font-weight: bold;
    font-size: 1.5em;
}

.slide .btn.next-button {
    position: absolute;
    right: 0;
    bottom: 2.5em;
    border-radius: 0;
    padding-left: 3em;
    padding-right: 3em;
    font-weight: bold;
    z-index: 100;
}

.slide .btn.prev-button {
    position: absolute;
    left: 0;
    bottom: 2.5em;
    padding-left: 3em;
    padding-right: 3em;
}

.slide .new-challenge-button {
    position: relative;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 0;
}