<!DOCTYPE html>
<html ng-app='app' lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <style>
        .question {
            padding: 100px 50px;
        }
        .slide {
            height: 500px;
            width: 500px;
            overflow: scroll;
        }
    </style>

    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src='js/vendor/angular.min.js'></script>

    <script>
        var app = angular.module('app',[]);
        app.controller('ctrl', function($scope) {
            $scope.questions = [0,1,2,3,4,5];
            $scope.resetScroll = function() {
                $(".slide").scrollTop(0);
            }
        });
    </script>

</head>

<body ng-app="app" ng-controller="ctrl">
    <div class="slide">
        <div class="row question" ng-repeat="question in questions">
            <div class="col-md-4">col {{ question*3 + 1 }}</div>
            <div class="col-md-4">col {{ question*3 + 2 }}</div>
            <div class="col-md-4">col {{ question*3 + 3 }}</div>
        </div>
    </div>
    <button ng-click="resetScroll()">Reset scroll</button>
</body>

</html>