.experiment .info-row {
    padding-top: 3%;
}

.experiment .image-container {
    position: relative;
    max-width: 80%;
    height: 80%;
    display: inline-block;
    margin-left: 1%;
}
.experiment .hive-row {
    padding-top: 10%;
    height: 20%;
}

.experiment .hive-row, .experiment .info-row {
    font-size: 0.8em;
}

/* Small devices (tablets, 768px and up) */
@media(min-width:768px) {
    .experiment .hive-row, .experiment .info-row {
        font-size: 1em;
    }
    .experiment .hive-row {
        padding-top: 0;
        height: 30%;
        padding-bottom: 10%;
    }
    .experiment .image-container {
        height: 100%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media(min-width:992px)  {
    .experiment .hive-row, .experiment .info-row {
        font-size: 1em;
    }
    .experiment .image-container {
        max-width: 100%;
        height: 100%;
    }

    .experiment .hive-row {
        height: 40%;
        padding-top: 0;
        padding-bottom: 0;
    }
}


.experiment .image-text {
    position: absolute;
}

.experiment .image-text-rounds {
    left: -6em;
    top: 50%;
    margin-top: -0.7em;
}

.experiment .image-text-questions {
    right: -6.5em;
    top: 30%;
    margin-top: -0.7em;
}