.explanation .header-row {
    height: 20%;
}

.explanation .bee-row {
    padding-top: 1%;
    height: 45%;
}

.explanation .info-row {
    height: 30%;
    padding-top: 5%;
}

.explanation .media-block {
    height: 100%;
    display: inline-block;
    white-space: nowrap;
}

.explanation .media-block-element {
    display: inline-block;
    height: 100%;
    max-width: 33%;
}

.explanation .media-block-left, .explanation .media-block-right {
    width: 30%;
}

.explanation .media-block-center {
    margin-left: 50px;
    margin-right: 50px;
}

.explanation .media-block-image-container {
    height: 90%;
}

.explanation .hive {
    padding-top: 10%;
    max-height: 100%;
}

.explanation .main-bee {
    padding-top: 20%;
    max-height: 100%;
}