.welcome h1 {
    position: relative;
}

.welcome .header-row {
    padding-top: 2%;
    padding-bottom: 2%;
    height: 35%;
}

.welcome .bee-row {
    height: 50%;
}

.welcome .side-bees {
    padding-top: 5%;
    padding-bottom: 5%;
}

.welcome .side-bees img {
    height: 100%;
}

.welcome .button-row {
    padding-top: 1%;
    padding-bottom: 1%;
    height: 12%;
}