.welcome h1 {
    position: relative;
}

.welcome h1 img {
    width: 80%;
}

.welcome .main-bee img {
    max-width: 70%;
}

.welcome .left-bees img, .welcome .right-bees img {
    max-width: 60%;
    display: none;
}