/*
color palette:
    faint-blue: #b2e2f9
    light-blue: #8ed3f3
    blue: #37a2d4
    dark-blue: #2E8CC6

    light-grey: #efefef
*/

@font-face {
    font-family: 'LobsterTwo';
    src: url('../fonts/LobsterTwo-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/Museo300-Regular-webfont.eot');
    src: url('../fonts/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Museo300-Regular-webfont.woff2') format('woff2'),
    url('../fonts/Museo300-Regular-webfont.woff') format('woff'),
    url('../fonts/Museo300-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Museo300-Regular-webfont.svg#museo300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/Museo500-Regular-webfont.eot');
    src: url('../fonts/Museo500-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Museo500-Regular-webfont.woff2') format('woff2'),
    url('../fonts/Museo500-Regular-webfont.woff') format('woff'),
    url('../fonts/Museo500-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Museo500-Regular-webfont.svg#museo500') format('svg');
    font-weight: bold;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-family: Museo;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
    body {
        padding: 0;
    }
}

/* height-based styling */
@media(min-height: 960px) {
    html, body {
        font-size: 30px;
    }
}

body {
    background: url('../img/hive-tile.png');
    background-size: 600px 344px;
    background-position: 100px 50px;
}

.view-container {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.container-fluid {
    height: 100%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    height: 100%;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.back-button {
    display: inline-block;
    font-size: 28px;
    margin: 5px 0;
    cursor: pointer;
}

.back-button:hover {
    color: #65b0db;
}

.vertical-center-1-line, .vertical-center-2-lines, .vertical-center-adaptive {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
}
.vertical-center-1-line {
    margin-top: -0.5em;
}

.vertical-center-2-lines {
    margin-top: -1em;
}

.vertical-center-adaptive {
    margin-top: -1em;
}

/* Medium devices (desktops, 992px and up) */
@media(min-width:992px)  {
    .vertical-center-adaptive {
        margin-top: -0.5em;
    }
    .vertical-center-1-line-md {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        margin-top: -0.5em;
    }
}

.va-outer {
    display: table;
}

.va-center {
    display: table-cell;
    vertical-align: middle;
}

.cursive {
    font-family: LobsterTwo;
}

.blue-text {
    color: #37a2d4;
}

.blue {
    background-color: #37a2d4;
}

.error {
    color: #e85037;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 1.25em;
}
.left.triangle {
    border-left-width: 0;
    border-right-color: #37a2d4;
    border-right-width: 0.8em;
}
.right.triangle {
    border-right-width: 0;
    border-left-color: #37a2d4;
    border-left-width: 0.8em;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
}

.white.overlay {
    background-color: white;
}