<div class="task slide">
    <div class="row question-row height-100">
        <div class="col-md-7 question-text-col">
            <div class="va-outer height-20 width-100 text-center">
                <h1 class="va-center">{{question.text}}</h1>
            </div>
            <div ng-include="'views/challenge/_media.html'"></div>
            <div class="text-center progress-col">
                <div ng-repeat="question in questions" style="top: {{$index * (100 / questions.length)}}%;"
                     class="circle" ng-class="{active: $index <= currQuestion }"
                     ng-click="setCurrQuestion($index)"></div>
            </div>
        </div>

        <div class="col-md-5 answer-col">
            <div class="timer-row text-right">
                <div class="timer-block">
                    <div class="timer" easypiechart options="timerOptions" percent="timerPercent"></div>
                    <div class="time-left">{{ timeLeft }}</div>
                </div>
            </div>
            <div>
                <div class="answer-label">Answer</div>
                <div ng-if="question.type !== 'number'">
                    <a class="btn grey answer-button"
                       ng-repeat="answer in answers"
                       ng-click="selectAnswer(answer)"
                       ng-class="{active: answer === selectedAnswer, first: $index % 2 == 0}">
                        {{answer}}
                    </a>
                </div>
                <div ng-if="question.type === 'number'">
                    <input type="text" class="white answer-input" ng-model="$parent.selectedAnswer"/>
                </div>
            </div>
            <div>
                <div class="confidence-label">How confident are you?</div>
                <table class="confidence-table">
                    <tr>
                        <td ng-repeat="cl in confidenceLevels">
                            <img class="confidence-icon" ng-src="img/confidence/{{cl}}.png"
                                 ng-class="{active: cl === selectedCL}"
                                 ng-click="setCL(cl)"/>
                        </td>
                    </tr>
                </table>
                <div>
                    <div class="cl-unsure">Unsure</div>
                    <div class="cl-confident">Confident</div>
                </div>
            </div>
        </div>
    </div>

    <a class="btn blue next-button" ng-disabled="!validInput(selectedAnswer, selectedCL)"
       ng-click="next()">
        <div class="left triangle"></div>
        Next question
    </a>
</div>