<div class="stats-container">
    <div class="stats small">
        <div class="stats-label">Answers from last {{previousResponseCount}} troopers</div>
        <table ng-if="question.type !== 'number'">
            <tr ng-repeat="response in previousResponses" class="stats-item">
                <td>{{response.text}}</td>
                <td class="bar-col">
                    <div class="bar" style="width: {{response.count / previousResponseCount * 90}}%"></div>
                    <div class="response-count">
                        <div class="content">
                            {{response.count}}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table ng-if="question.type === 'number'">
            <tr ng-repeat="response in previousResponses" class="stats-item">
                <td>{{$index + 1}}. </td>
                <td class="number-response">{{response}}</td>
            </tr>
        </table>
    </div>
</div>