<head>
    <title>{{SITE_NAME}} | Crowds vs Individuals</title>
</head>

<div class="slide explanation">
    <div class="row header-row height-20">
        <div class="col-md-12">
            <h1 class="vertical-center-1-line-md text-center">
                Are crowds smarter than individuals?
            </h1>
        </div>
    </div>
    <div class="row bee-row">
        <div class="col-md-12 text-center height-100">
            <div class="media-block">
                <div class="media-block-element media-block-left">
                    <div class="media-block-image-container">
                        <img src="img/hive.png" class="hive"/>
                    </div>
                    <br/>
                    Wisdom of Crowds
                </div>
                <div class="media-block-element media-block-center">
                    <div class="va-outer height-100">
                        <div class="va-center">
                            vs
                        </div>
                    </div>
                </div>
                <div class="media-block-element media-block-right">
                    <div class="media-block-image-container">
                        <img src="img/main-bee.png" class="main-bee"/>
                    </div>
                    <br/>
                    An Individual
                </div>
            </div>
        </div>
    </div>

    <div class="row info-row">
        <div class="col-md-12 text-center info-text">
            Help us find out by playing the Wisdom of Crowds trivia challenge.<br/>
            You’ll be asked questions covering  geography, spatial reasoning, popular culture, and more.
        </div>
    </div>

    <a href="#intro/experiment" class="btn blue next-button">
        <div class="left triangle"></div>
        Next
    </a>
</div>
