<head>
    <title>{{SITE_NAME}} | What is ?</title>
</head>

<div class="slide explanation">
    <div class="row header-row">
        <div class="col-md-12">
            <h1 class="vertical-center-2-lines">
                What is<br/>
                Wisdom of Crowds ?
            </h1>
        </div>
    </div>
    <div class="row bee-row">
        <div class="col-md-12 text-center">
            <div class="media-block">
                <div class="media-block-element media-block-left">
                    <div class="media-block-image-container">
                        <img src="img/intro-hive.png" class="hive"/>
                    </div>
                    <br/>
                    Wisdom of Crowds
                </div>
                <div class="media-block-element media-block-center">
                    <div class="va-outer fill-height">
                        <div class="va-center">
                            is more powerful than
                        </div>
                    </div>
                </div>
                <div class="media-block-element media-block-right">
                    <div class="media-block-image-container">
                        <img src="img/main-bee.png" style="height: 100%" class="main-bee"/>
                    </div>
                    <br/>
                    An Individual
                </div>
            </div>
        </div>
    </div>

    <div class="row info-row">
        <div class="col-md-12 text-center info-text">
            You belong to the ‘Crowd’,<br/>
            where the collective wisdom of all troopers<br/>
            is found to be as good as, or often better than<br/>
            any of the individuals within the group.
        </div>
    </div>

</div>
