<head>
    <title>{{SITE_NAME}} | What is ?</title>
</head>

<div class="backdrop">
    <a href="#intro/experiment" class="btn right-hexagon">
        <span class="inner-triangle"></span>
        Next
    </a>
</div>

<div class="container slide explanation">
    <div class="text-center main-message">What is<br/>
        Wisdom of Crowds ?</div>
    <div class="row bee-row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-3 hive text-center">
                <img src="img/intro-hive.png"/>
            </div>
            <div class="col-3 text-center middle-text">
                is more powerful than
            </div>
            <div class="col-3 main-bee text-center">
                <img src="img/main-bee.png"/>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row bee-row bee-row-text">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-3 hive text-center">
                <small>
                    Wisdom of Crowds
                </small>
            </div>
            <div class="col-3 text-center middle-text">
            </div>
            <div class="col-3 main-bee text-center">
                <small>
                    An Individual
                </small>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row info-row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center info-text">
            You belong to the ‘Crowd’,<br/>
            where the collective wisdom of all troopers<br/>
            is found to be as good as, or often better than<br/>
            any of the individuals within the group.
        </div>
    </div>

</div>
