<head>
    <title>{{SITE_NAME}} | Welcome</title>
</head>
<div class="container-fluid welcome">
    <div class="row header-row text-center">
        <img src="img/welcome-title.png"/>
    </div>
    <div class="row bee-row">
        <div class="col-md-4 left-bees side-bees">
            <img src="img/welcome-left-bees.png" class="center-block"/>
        </div>
        <div class="col-md-4 main-bee">
            <img src="img/bee-animations/1.gif" class="center-block"/>
        </div>
        <div class="col-md-4 right-bees side-bees">
            <img src="img/welcome-right-bees.png" class="center-block"/>
        </div>
    </div>
    <div class="row button-row">
        <div class="col-md-4"></div>
        <div class="col-md-4 bee-number-message text-center">
            <a href="#intro/explanation" class="btn blue btn-block">
                <span class="button-content">
                    Let's start, Worker Bee!
                </span>
            </a>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
