<head>
    <title>{{SITE_NAME}} | Welcome</title>
</head>
<div class="container-fluid welcome">
    <div class="row header-row">
        <div class="col-md-12 text-center">
            <img src="img/welcome-title.png"/>
        </div>
    </div>
    <div class="row bee-row">
        <div class="col-md-4 left-bees side-bees hidden-sm hidden-xs">
            <img src="img/welcome-left-bees.png" class="center-block"/>
        </div>
        <div class="col-md-4 main-bee">
            <img src="img/bee-animations/1.gif" class="center-block"/>
        </div>
        <div class="col-md-4 right-bees side-bees hidden-sm hidden-xs">
            <img src="img/welcome-right-bees.png" class="center-block"/>
        </div>
    </div>
    <div class="row button-row">
        <div class="col-md-offset-4 col-md-4 bee-number-message text-center">
            <a href="#intro/explanation" class="btn blue btn-block">
                Let's start, Worker Bee!
            </a>
        </div>
    </div>
</div>
