.done h1 {
    font-size: 3em;
}

.done .results-col {
    padding-left: 5%;
    padding-right: 5%;
}

.done .achievement-col img {
    margin-top: 10%;
    max-height: 80%;
}

.done .result-item small {
    display: block;
    font-size: 0.7em;
    margin-bottom: -0.5em;
    margin-top: 1em;
}

.done .result-item .large {
    font-size: 2em;
}

.done .result-item .forward-slash {
    font-size: 1.5em;
}

.done .bar {
    width: 96%;
    margin-left: 2%;
    position: relative;
}

.done .bar.rank-bar {
    height: 1em;
    background-color: #d1d3d4;
}

.done .bar.rank-labels .label-wrapper {
    position: absolute;
    font-size: 0.8em;
    width: 90%;
    margin-left: -45%;
    display: block;
    text-align: center;
}

.done .rank-labels .last {
    left: 0;
}

.done .rank-labels .first {
    left: 100%;
}

.done .rank-labels .crowd {
    left: 60%;
}

.done .rank-labels .user {
    left: 80%;
}

.done .bar .filled {
    position: absolute;
    left: 80%;
    width: 20%;
    height: 100%;
}

.done .marker {
    position: absolute;
    width: 2px;
    height: 1.5em;
    background-color: black;
    bottom: 0;
}

.done .marker.user {
    left: 80%;
}

.done .marker.crowd {
    left: 60%;
}

.done .bar.rank-labels {
    height: 40px;
    padding-top: 5px;
}

.done .bar.icons {
    height: 4em;
    margin-top: 10px;
}

.done .bar.icons .icon {
    position: absolute;
    margin-left: -1em;
    width: 2em;
    text-align: center;
}

.done .bar.icons .icon label {
    font-size: 0.7em;
}

.done .bar.icons .icon img {
    width: 100%;
}

.done .bar.icons .icon.crowd {
    left: 60%;
}

.done .bar.icons .icon.user {
    left: 80%;
}

.done .bar.rank-bar .triangle {
    position: absolute;
    top: 0;
    border: 0.5em solid transparent;
    border-left: none;
    border-right: none;
}

.done .bar.rank-bar .triangle.left {
    border-right: 0.4em solid #d1d3d4;
    left: -0.4em;
}

.done .bar.rank-bar .triangle.right {
    border-left: 0.4em solid #37a2d4;
    right: -0.4em;
}

