.task .question-row {
    padding-top: 1%;
    padding-bottom: 1%;
}

.task .question-text-col {
    padding-left: 3%;
    padding-right: 3%;
    height: 100%;
}

.task .question-media {
    position: absolute;
    top: 21%;
    bottom: 10%;
    left: 8%;
    right: 3%;
}

.task .progress-col {
    margin-top: 1.25%;
    height: 95%;
}

.task .progress-col .circle {
    position: absolute;
    width: 0.6em;
    height: 0.6em;
}

.task .question-media.with-stats {
    max-width: 50%;
}

.task .stats-container {
    position:absolute;
    top: 21%;
    left: 60%;
    right: 3%;
}

.task .stats {
    padding: 0em 1em;
    padding-top: 0.8em;
    background-color: #efefef;
}

.task .stats-label {
    padding-bottom: 0.8em;
}

.task .stats-item {
    white-space: nowrap;
}

.task .stats-item td {
    padding-bottom: 0.8em;
    position: relative;
}

.task .bar-col {
    width: 100%;
    padding: 0 0.5em;
}

.task .stats .bar {
    height: 1.5em;
    display: inline-block;
    background-color: #37a2d4;
}

.task .stats .response-count {
    display: inline-block;
    height: 1em;
    position: relative;
}

.task .stats .response-count .content {
    position: absolute;
    top: -0.25em;
    left: 0.25em;
}

.task .stats .number-response {
    padding-left: 0.5em;
}

.task .timer-row {
    margin-right: 10%;
    margin-top: 5%;
    height: 12%;
}

.task .timer-block {
    position: relative;
    display: inline-block;
}

.task .time-left {
    position: absolute;
    top: 13px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
}

/* height-based styling */
@media(min-height: 960px) {
    .task .time-left {
        top: 8px;
        font-size: 26px;
    }
}

@media(min-width:1280px) {
    .task .time-left {
        top: 25px;
    }
}