.task .question-row {
    padding-top: 1%;
    padding-bottom: 1%;
}

.task.slide {
    background: none;
}

.task .backdrop {
    background-color: white;
    position: absolute;
    top: 20px;
    bottom: -98%;
    left: 0;
    right: 0;
}

.text-type-question-content {
    white-space: pre-wrap;
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3%;
    padding-left: 1em;
    padding-right: 1em;
}

.task .text-type-question-content.with-stats {
    width: 53%;
}

.task .white.overlay {
    height: 90%;
}

.task .question-text-col {
    padding-left: 3%;
    padding-right: 3%;
    height: 100%;
    padding-top: 3%;
}

/* Medium devices (desktops, 992px and up) */
@media(min-width:992px)  {
    .task .question-text-col {
        height: 100%;
        padding-top: 0;
    }

    .task.slide {
        background: white;
    }
    .task .backdrop {
        background: none;
        bottom: 0;
    }
}


.task .question-media {
    position: absolute;
    top: 21%;
    bottom: 10%;
    left: 8%;
    right: 3%;
}

.task .progress-col {
    position: absolute;
    right: -3.5%;
    top: 3%;
    bottom: 0;
    z-index: 20;
}

.progress-col-sm {
    height: 0.6em;
    padding-top: -3em;
    padding-bottom: 0.5em;
    width: 90%;
    margin-left: 5%;
}

.task .progress-col .circle, .task .progress-col-sm .circle {
    position: absolute;
    width: 0.6em;
    height: 0.6em;
}

.task .question-media.with-stats {
    max-width: 50%;
}


.task .stats-container {
    position:absolute;
    top: 21%;
    left: 60%;
    right: 3%;
}

.task .stats {
    padding: 0em 1em;
    padding-top: 0.8em;
    background-color: #efefef;
}

.task .stats-label {
    padding-bottom: 0.8em;
}

.task .stats-item {
    white-space: nowrap;
}

.task .stats-item td {
    padding-bottom: 0.8em;
    position: relative;
}

.task .bar-col {
    width: 100%;
    padding: 0 0.5em;
}

.task .stats .bar {
    height: 1.5em;
    display: inline-block;
    background-color: #37a2d4;
}

.task .stats .response-count {
    display: inline-block;
    height: 1em;
    position: relative;
}

.task .stats .response-count .content {
    position: absolute;
    top: -0.25em;
    left: 0.25em;
}

.task .stats .number-response {
    padding-left: 0.5em;
}

.task .timer-row {
    position: relative;
    margin-right: 2%;
    margin-top: 5%;
}

.task .timer-block {
    position: relative;
    display: inline-block;
}

.task .time-left {
    position: absolute;
    top: 13px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
}

/* height-based styling */
@media(min-height: 960px) {
    .task .time-left {
        font-size: 26px;
        top: 25px;
    }
}

.task .answer-label {
    margin-bottom: 0.7em;
}

.task .answer-col {
    padding-left: 7%;
    padding-right: 5%;
}

.task .answer-button {
    margin-bottom: 2%;
    width: 48%;
}

.task .answer-button.first {
    margin-right: 2%;
}

.task .answer-input {
    width: 60%;
}

.task .confidence-table {
    width: 100%;
}

.task .confidence-table tr td {
    width: 20%;
    text-align: center;
    padding: 3%;
}

.task .confidence-label {
    margin-top: 0.7em;
}

.task .cl-unsure {
    float: left;
    width: 20%;
    text-align: center;
}

.task .cl-confident {
    float: right;
}

.confidence-icon {
    cursor: pointer;
    border-radius: 10em;
}

.confidence-icon:hover {
    background-color: #b2e2f9;
}

.confidence-icon.active {
    background-color: #8ed3f3;
}

.task .times-up-container {
    position: absolute;
    top: -0.5em;
    z-index: 20;
}

.task .times-up-label {
    background-color: #efefef;
    padding: 0.3em 1em;
}

.task .times-up-label .right.triangle {
    position: absolute;
    top: 0;
    right: -1em;
    border-width: 1.7em;
    border-right-width: 0;
    border-left-color: #efefef;
    border-left-width: 1em;
}

.task .overlay {
    right: 3%;
}