<head>
    <title>{{SITE_NAME}} | About this research</title>
</head>

<div class="slide research">
    <div class="row header-row height-20">
        <div class="col-md-12">
            <h1 class="vertical-center-1-line">
                About this research
            </h1>
        </div>
    </div>
    <div class="row height-40 text-center">
        <img src="img/research.gif" style="height: 100%"/>
    </div>
    <div class="row info-row height-40">
        <div class="col-md-12 text-center va-outer">
            <div class="va-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br/>
                sed do eiusmod tempor incididunt ut labore et dolore <br/>
                magna aliqua. Ut enim ad minim veniam, quis nostrud <br/>
                exercitation ullamco laboris nisi ut aliquip ex ea<br/>
                commodo consequat.
            </div>
        </div>
    </div>
</div>
